.action-list{
    max-block-size: var(--blockSize-actions);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    background-color: var(--grey-4);
}


@media screen and (max-width: 992px){
  .action-list{
    padding-inline: .5rem;
    gap: .5rem;
  }
}