@import 'contact-message-list.css';

.chat-contact-message-list{
    max-inline-size: 27.5rem;
    display: flex;
    flex-direction: column;
    block-size: 100vh;
}

@media screen and (max-width: 992px) {
    .chat-contact-message-list{
        max-inline-size: unset;
        width: 100vw;
        transition: all .7s;
    }
}