.chat-message-list{
    display: flex;
    flex-direction: column;
    block-size: 100vh;
    flex-grow: 1;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
    .chat-message-list{
        width: 100vw;
        transition: all .7s;
    }
}