.contact-message-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.contact-message-item {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.contact-message-item::before{
    content: '';
    width: 23.4375rem;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 2rem;
    background-color:var(--grey-2);    
}

.contact-message-item:hover {
  box-shadow: 0 0 3px #719ECE;
}

.contact-message-item:active{
  transform: scale(0.99);
}

.contact-photo img{
  vertical-align: middle;
}

.contact-message-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.contact-message-details {
  display: flex;
  justify-content: space-between;
}

.contact-name {
  font: var(--body-16regular);
}

.contact-message {
  display: flex;
  gap: 0.25rem;
}

.contact-message-text {
  font: var(--caption-12regular);
  color: var(--grey);
  max-inline-size: 331px;
}
