.contact-message-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.contact-message-item {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.contact-message-item::before {
  content: "";
  max-inline-size: 23.4375rem;
  inline-size: 100%;
  block-size: 1px;
  position: absolute;
  inset-block-end: 1px;
  inset-inline-start: 2rem;
  background-color: var(--grey-2);
}

.contact-message-item:hover {
  box-shadow: 0 0 3px #719ece;
}

.contact-message-item:active {
  transform: scale(0.99);
}

.contact-photo img {
  vertical-align: middle;
}

.contact-message-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
}

.contact-message-details {
  display: flex;
  justify-content: space-between;
}

.contact-name {
  font: var(--body-16regular);
}

.contact-message {
  display: flex;
  gap: 0.25rem;
}

.contact-message .message-status{
  flex-shrink: 0;
}

.contact-message-text {
  font: var(--caption-12regular);
  color: var(--grey);
}

@media screen and (max-width: 768px) {
.contact-message-item::before {
  max-inline-size: 18.5rem;
}
  .contact-message {
    block-size: 2rem;
    align-items: center;
  }
}