@import 'user.css';

.header{
    max-block-size: var(--blockSize-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--grey-4);
}