.search{
    display: flex;
    padding: 1rem;
    position: relative;
    background-color: var(--grey-3);
}

.search i{
  position: absolute;
  left: 2.5rem;
  top: calc(50% - .6rem);
  block-size: 1.5rem;
}

.search input{
  flex-grow: 1;
  color: var(--black);
  font: var(--body-16regular);
  border-radius: 3.125rem;
  border: none;
  padding-block-start: .875rem;
  padding-block-end: .875rem;
  padding-inline-start: 5rem;
  padding-inline-end: 1.5rem;
}

.search input::placeholder{
  color: var(--grey);
}

.search input:focus{
  outline: none ;
}