.user{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.user p{
    margin: 0;
}

.user p span{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.user-name{
    font: var(--body-16regular);
}

.user-status{
    font: var(--caption-12regular);
    text-transform: uppercase;
    color: var(--grey);
}